build/
bin/
dev/

environment/darwinarm64/scion
environment/darwinarm64/daemon
environment/darwinarm64/dispatcher

environment/darwinx64/scion
environment/darwinx64/daemon
environment/darwinx64/dispatcher

environment/linuxx64/scion
environment/linuxx64/daemon
environment/linuxx64/dispatcher

environment/windowsx64/scion.exe
environment/windowsx64/daemon.exe
environment/windowsx64/dispatcher.exe

dev/
scion-orchestrator
integration/bin/
integration/AS150/bin/
integration/AS150/config/tmp/
integration/AS150/config/logs/
integration/AS150/config/database/

integration/AS151/bin/
integration/AS151/config/tmp/
integration/AS151/config/logs/
integration/AS151/config/database/

integration/Host150/bin/
integration/Host150/config/tmp/
integration/Host150/config/logs/
integration/Host150/config/database/
integration/Host150/config/topology.json
integration/Host150/config/certs/

bin_latest/
config_latest/

bin_release