{{ define "basetop" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCION Orchestrator Dashboard</title>
    <script src="/static/htmx.min.js"></script>
    <script src="/static/alpine-min.js" defer></script>
    <script>
        async function fetchStatus() {
            try {
                let response = await fetch('/api/v1/status'); // Modify endpoint accordingly
                let data = await response.json();
                return data;
            } catch (error) {
                console.error("Error fetching status:", error);
                return null;
            }
        }

        window.onload = function () {
            fetchStatus();
        }
    </script>
    <script src="/static/tailwindv4.js"></script>
    <style type="text/tailwindcss">
        @theme {
            /* Light Theme */
            --color-surface: var(--color-white);
            --color-surface-alt: var(--color-neutral-50);
            --color-on-surface: var(--color-neutral-600);
            --color-on-surface-strong: var(--color-neutral-900);
            --color-primary: var(--color-black);
            --color-on-primary: var(--color-neutral-100);
            --color-secondary: var(--color-neutral-800);
            --color-on-secondary: var(--color-white);
            --color-outline: var(--color-neutral-300);
            --color-outline-strong: var(--color-neutral-800);

            /* Dark Theme */
            --color-surface-dark: var(--color-neutral-950);
            --color-surface-dark-alt: var(--color-neutral-900);
            --color-on-surface-dark: var(--color-neutral-300);
            --color-on-surface-dark-strong: var(--color-white);
            --color-primary-dark: var(--color-white);
            --color-on-primary-dark: var(--color-black);
            --color-secondary-dark: var(--color-neutral-300);
            --color-on-secondary-dark: var(--color-black);
            --color-outline-dark: var(--color-neutral-700);
            --color-outline-dark-strong: var(--color-neutral-300);

            /* Shared Colors */
            --color-info: var(--color-sky-500);
            --color-on-info: var(--color-white);
            --color-success: var(--color-green-500);
            --color-on-success: var(--color-white);
            --color-warning: var(--color-amber-500);
            --color-on-warning: var(--color-white);
            --color-danger: var(--color-red-500);
            --color-on-danger: var(--color-white);

            /* Border Radius */
            --radius-radius: var(--radius-sm);
        }

        body {
            color: var(--color-on-surface-dark);
        }
    </style>
</head>

<div x-data="{ sidebarIsOpen: false }" class="relative flex w-full flex-col md:flex-row">
    <!-- This Allows Screen Readers To Skip The Sidebar And Go Directly To The Main Content. -->
    <a class="sr-only" href="#main-content">skip to the main content</a>

    <!-- Dark Overlay For When The Sidebar Is Open On Smaller Screens  -->
    <div x-cloak x-show="sidebarIsOpen" class="fixed inset-0 z-20 bg-surface-dark/10 backdrop-blur-xs md:hidden"
        aria-hidden="true" x-on:click="sidebarIsOpen = false" x-transition.opacity></div>

    <nav x-cloak
        class="fixed left-0 z-30 flex h-svh w-60 shrink-0 flex-col border-r border-outline bg-surface-alt p-4 transition-transform duration-300 md:w-64 md:translate-x-0 md:relative dark:border-outline-dark dark:bg-surface-dark-alt"
        x-bind:class="sidebarIsOpen ? 'translate-x-0' : '-translate-x-60'" aria-label="sidebar navigation">
        <!-- Logo  -->
        <a href="#" class="ml-2 mb-4 w-fit text-2xl font-bold text-on-surface-strong dark:text-on-surface-dark-strong">
            <span class="sr-only">homepage</span>
            <img src="https://scion-architecture.net/assets/img/logo.png">
        </a>

        <!-- Sidebar Links  -->
        <div class="flex flex-col gap-2 overflow-y-auto pb-6">

            <a href="/"
                class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 shrink-0"
                    aria-hidden="true">
                    <path
                        d="M15.5 2A1.5 1.5 0 0 0 14 3.5v13a1.5 1.5 0 0 0 1.5 1.5h1a1.5 1.5 0 0 0 1.5-1.5v-13A1.5 1.5 0 0 0 16.5 2h-1ZM9.5 6A1.5 1.5 0 0 0 8 7.5v9A1.5 1.5 0 0 0 9.5 18h1a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 10.5 6h-1ZM3.5 10A1.5 1.5 0 0 0 2 11.5v5A1.5 1.5 0 0 0 3.5 18h1A1.5 1.5 0 0 0 6 16.5v-5A1.5 1.5 0 0 0 4.5 10h-1Z" />
                </svg>
                <span>Home</span>
            </a>

            <a href="/cryptography"
                class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 shrink-0"
                    aria-hidden="true">
                    <path
                        d="M13.92 3.845a19.362 19.362 0 0 1-6.3 1.98C6.765 5.942 5.89 6 5 6a4 4 0 0 0-.504 7.969 15.97 15.97 0 0 0 1.271 3.34c.397.771 1.342 1 2.05.59l.867-.5c.726-.419.94-1.32.588-2.02-.166-.331-.315-.666-.448-1.004 1.8.357 3.511.963 5.096 1.78A17.964 17.964 0 0 0 15 10c0-2.162-.381-4.235-1.08-6.155ZM15.243 3.097A19.456 19.456 0 0 1 16.5 10c0 2.43-.445 4.758-1.257 6.904l-.03.077a.75.75 0 0 0 1.401.537 20.903 20.903 0 0 0 1.312-5.745 2 2 0 0 0 0-3.546 20.902 20.902 0 0 0-1.312-5.745.75.75 0 0 0-1.4.537l.029.078Z" />
                </svg>
                <span>Cryptography</span>
                <span class="sr-only">active</span>
            </a>

            <a href="/modules"
                class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 shrink-0"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M4.606 12.97a.75.75 0 0 1-.134 1.051 2.494 2.494 0 0 0-.93 2.437 2.494 2.494 0 0 0 2.437-.93.75.75 0 1 1 1.186.918 3.995 3.995 0 0 1-4.482 1.332.75.75 0 0 1-.461-.461 3.994 3.994 0 0 1 1.332-4.482.75.75 0 0 1 1.052.134Z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd"
                        d="M5.752 12A13.07 13.07 0 0 0 8 14.248v4.002c0 .414.336.75.75.75a5 5 0 0 0 4.797-6.414 12.984 12.984 0 0 0 5.45-10.848.75.75 0 0 0-.735-.735 12.984 12.984 0 0 0-10.849 5.45A5 5 0 0 0 1 11.25c.001.414.337.75.751.75h4.002ZM13 9a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"
                        clip-rule="evenodd" />
                </svg>
                <span>Modules</span>
            </a>

            <a href="/troubleshooting"
                class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 shrink-0"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M1 2.75A.75.75 0 0 1 1.75 2h16.5a.75.75 0 0 1 0 1.5H18v8.75A2.75 2.75 0 0 1 15.25 15h-1.072l.798 3.06a.75.75 0 0 1-1.452.38L13.41 18H6.59l-.114.44a.75.75 0 0 1-1.452-.38L5.823 15H4.75A2.75 2.75 0 0 1 2 12.25V3.5h-.25A.75.75 0 0 1 1 2.75ZM7.373 15l-.391 1.5h6.037l-.392-1.5H7.373Zm7.49-8.931a.75.75 0 0 1-.175 1.046 19.326 19.326 0 0 0-3.398 3.098.75.75 0 0 1-1.097.04L8.5 8.561l-2.22 2.22A.75.75 0 1 1 5.22 9.72l2.75-2.75a.75.75 0 0 1 1.06 0l1.664 1.663a20.786 20.786 0 0 1 3.122-2.74.75.75 0 0 1 1.046.176Z"
                        clip-rule="evenodd" />
                </svg>
                <span>Troubleshooting</span>
            </a>

            <a href="/connectivity"
                class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 shrink-0"
                    aria-hidden="true">
                    <path
                        d="M10 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM6 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM1.49 15.326a.78.78 0 0 1-.358-.442 3 3 0 0 1 4.308-3.516 6.484 6.484 0 0 0-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 0 1-2.07-.655ZM16.44 15.98a4.97 4.97 0 0 0 2.07-.654.78.78 0 0 0 .357-.442 3 3 0 0 0-4.308-3.517 6.484 6.484 0 0 1 1.907 3.96 2.32 2.32 0 0 1-.026.654ZM18 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0ZM5.304 16.19a.844.844 0 0 1-.277-.71 5 5 0 0 1 9.947 0 .843.843 0 0 1-.277.71A6.975 6.975 0 0 1 10 18a6.974 6.974 0 0 1-4.696-1.81Z" />
                </svg>
                <span>Connectivity</span>
            </a>

            <a href="/certificate-authority"
                class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 shrink-0"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M1 6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v8a3 3 0 0 1-3 3H4a3 3 0 0 1-3-3V6Zm4 1.5a2 2 0 1 1 4 0 2 2 0 0 1-4 0Zm2 3a4 4 0 0 0-3.665 2.395.75.75 0 0 0 .416 1A8.98 8.98 0 0 0 7 14.5a8.98 8.98 0 0 0 3.249-.604.75.75 0 0 0 .416-1.001A4.001 4.001 0 0 0 7 10.5Zm5-3.75a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Zm0 6.5a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Zm.75-4a.75.75 0 0 0 0 1.5h2.5a.75.75 0 0 0 0-1.5h-2.5Z"
                        clip-rule="evenodd" />
                </svg>
                <span>Certificate Authority</span>
            </a>

            <a href="/settings"
                class="flex items-center rounded-radius gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 shrink-0"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                        d="M7.84 1.804A1 1 0 0 1 8.82 1h2.36a1 1 0 0 1 .98.804l.331 1.652a6.993 6.993 0 0 1 1.929 1.115l1.598-.54a1 1 0 0 1 1.186.447l1.18 2.044a1 1 0 0 1-.205 1.251l-1.267 1.113a7.047 7.047 0 0 1 0 2.228l1.267 1.113a1 1 0 0 1 .206 1.25l-1.18 2.045a1 1 0 0 1-1.187.447l-1.598-.54a6.993 6.993 0 0 1-1.929 1.115l-.33 1.652a1 1 0 0 1-.98.804H8.82a1 1 0 0 1-.98-.804l-.331-1.652a6.993 6.993 0 0 1-1.929-1.115l-1.598.54a1 1 0 0 1-1.186-.447l-1.18-2.044a1 1 0 0 1 .205-1.251l1.267-1.114a7.05 7.05 0 0 1 0-2.227L1.821 7.773a1 1 0 0 1-.206-1.25l1.18-2.045a1 1 0 0 1 1.187-.447l1.598.54A6.992 6.992 0 0 1 7.51 3.456l.33-1.652ZM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        clip-rule="evenodd" />
                </svg>
                <span>Settings</span>
            </a>
        </div>
    </nav>

    <!-- Top Navbar & Main Content  -->
    <div class="h-svh w-full overflow-y-auto bg-surface dark:bg-surface-dark">
        <!-- Top Navbar  -->
        <nav class="sticky top-0 z-10 flex items-center justify-between border-b border-outline bg-surface-alt px-4 py-2 dark:border-outline-dark dark:bg-surface-dark-alt"
            aria-label="top navibation bar">

            <!-- Sidebar Toggle Button For Small Screens  -->
            <button type="button" class="md:hidden inline-block text-on-surface dark:text-on-surface-dark"
                x-on:click="sidebarIsOpen = true">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5"
                    aria-hidden="true">
                    <path
                        d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5-1v12h9a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM4 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h2z" />
                </svg>
                <span class="sr-only">sidebar toggle</span>
            </button>

            <!-- Breadcrumbs  -->
            <nav class="hidden md:inline-block text-sm font-medium text-on-surface dark:text-on-surface-dark"
                aria-label="breadcrumb">
                <ol class="flex flex-wrap items-center gap-1">
                    <li class="flex items-center gap-1">
                        <a href="#"
                            class="hover:text-on-surface-strong dark:hover:text-on-surface-dark-strong">Dashboard</a>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none"
                            stroke-width="2" class="size-4" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                        </svg>
                    </li>

                    <li class="flex items-center gap-1 font-bold text-on-surface-strong dark:text-on-surface-dark-strong"
                        aria-current="page">Marketing</li>
                </ol>
            </nav>


            <!-- Profile Menu  -->
            <div x-data="{ userDropdownIsOpen: false }" class="relative"
                x-on:keydown.esc.window="userDropdownIsOpen = false">
                <button type="button"
                    class="flex w-full items-center rounded-radius gap-2 p-2 text-left text-on-surface hover:bg-primary/5 hover:text-on-surface-strong focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong dark:focus-visible:outline-primary-dark"
                    x-bind:class="userDropdownIsOpen ? 'bg-primary/10 dark:bg-primary-dark/10' : ''"
                    aria-haspopup="true" x-on:click="userDropdownIsOpen = ! userDropdownIsOpen"
                    x-bind:aria-expanded="userDropdownIsOpen">
                    <div class="hidden md:flex flex-col">
                        <span
                            class="text-sm font-bold text-on-surface-strong dark:text-on-surface-dark-strong">Admin</span>
                        <span class="sr-only">profile settings</span>
                    </div>
                </button>

                <!-- Menu -->
                <div x-cloak x-show=""
                    class="hidden absolute top-14 right-0 z-20 h-fit w-48 border divide-y divide-outline border-outline bg-surface dark:divide-outline-dark dark:border-outline-dark dark:bg-surface-dark rounded-radius"
                    role="menu" x-on:click.outside="userDropdownIsOpen = false"
                    x-on:keydown.down.prevent="$focus.wrap().next()" x-on:keydown.up.prevent="$focus.wrap().previous()"
                    x-transition="" x-trap="userDropdownIsOpen">

                    <div class="flex flex-col py-1.5">
                        <a href="#"
                            class="flex items-center gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong"
                            role="menuitem">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5 shrink-0" aria-hidden="true">
                                <path
                                    d="M10 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM3.465 14.493a1.23 1.23 0 0 0 .41 1.412A9.957 9.957 0 0 0 10 18c2.31 0 4.438-.784 6.131-2.1.43-.333.604-.903.408-1.41a7.002 7.002 0 0 0-13.074.003Z" />
                            </svg>
                            <span>Profile</span>
                        </a>
                    </div>

                    <div class="flex flex-col py-1.5">
                        <a href="#"
                            class="flex items-center gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong"
                            role="menuitem">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5 shrink-0" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M7.84 1.804A1 1 0 0 1 8.82 1h2.36a1 1 0 0 1 .98.804l.331 1.652a6.993 6.993 0 0 1 1.929 1.115l1.598-.54a1 1 0 0 1 1.186.447l1.18 2.044a1 1 0 0 1-.205 1.251l-1.267 1.113a7.047 7.047 0 0 1 0 2.228l1.267 1.113a1 1 0 0 1 .206 1.25l-1.18 2.045a1 1 0 0 1-1.187.447l-1.598-.54a6.993 6.993 0 0 1-1.929 1.115l-.33 1.652a1 1 0 0 1-.98.804H8.82a1 1 0 0 1-.98-.804l-.331-1.652a6.993 6.993 0 0 1-1.929-1.115l-1.598.54a1 1 0 0 1-1.186-.447l-1.18-2.044a1 1 0 0 1 .205-1.251l1.267-1.114a7.05 7.05 0 0 1 0-2.227L1.821 7.773a1 1 0 0 1-.206-1.25l1.18-2.045a1 1 0 0 1 1.187-.447l1.598.54A6.992 6.992 0 0 1 7.51 3.456l.33-1.652ZM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span>Settings</span>
                        </a>
                        <a href="#"
                            class="flex items-center gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong"
                            role="menuitem">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5 shrink-0" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M2.5 4A1.5 1.5 0 0 0 1 5.5V6h18v-.5A1.5 1.5 0 0 0 17.5 4h-15ZM19 8.5H1v6A1.5 1.5 0 0 0 2.5 16h15a1.5 1.5 0 0 0 1.5-1.5v-6ZM3 13.25a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm4.75-.75a.75.75 0 0 0 0 1.5h3.5a.75.75 0 0 0 0-1.5h-3.5Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span>Payments</span>
                        </a>
                    </div>

                    <div class="flex flex-col py-1.5">
                        <a href="#"
                            class="flex items-center gap-2 px-2 py-1.5 text-sm font-medium text-on-surface underline-offset-2 hover:bg-primary/5 hover:text-on-surface-strong focus-visible:underline focus:outline-hidden dark:text-on-surface-dark dark:hover:bg-primary-dark/5 dark:hover:text-on-surface-dark-strong"
                            role="menuitem">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="size-5 shrink-0" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M3 4.25A2.25 2.25 0 0 1 5.25 2h5.5A2.25 2.25 0 0 1 13 4.25v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 0-.75-.75h-5.5a.75.75 0 0 0-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 0 0 .75-.75v-2a.75.75 0 0 1 1.5 0v2A2.25 2.25 0 0 1 10.75 18h-5.5A2.25 2.25 0 0 1 3 15.75V4.25Z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M6 10a.75.75 0 0 1 .75-.75h9.546l-1.048-.943a.75.75 0 1 1 1.004-1.114l2.5 2.25a.75.75 0 0 1 0 1.114l-2.5 2.25a.75.75 0 1 1-1.004-1.114l1.048-.943H6.75A.75.75 0 0 1 6 10Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span>Sign Out</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Main Content  -->
        <div id="main-content" class="p-4">
            <div class="overflow-y-auto">
                <!-- Add Main Content Here  -->
                {{ end }}
                {{ define "basebottom" }}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const path = window.location.pathname; // Get the current URL path
        const breadcrumbContainer = document.querySelector('[aria-label="breadcrumb"] ol');
        const sidebarLinks = document.querySelectorAll("nav a");

        // Map paths to display names
        const pathNames = {
            "/": "Home",
            "/cryptography": "Cryptography",
            "/modules": "Modules",
            "/troubleshooting": "Troubleshooting",
            "/connectivity": "Connectivity",
            "/certificate-authority": "Certificate Authority",
            "/settings": "Settings"
        };

        // Update breadcrumbs
        if (breadcrumbContainer) {
            breadcrumbContainer.innerHTML = `
                <li class="flex items-center gap-1">
                    <a href="/" class="hover:text-on-surface-strong dark:hover:text-on-surface-dark-strong">Navigation</a>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-4" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </li>
                <li class="flex items-center gap-1 font-bold text-on-surface-strong dark:text-on-surface-dark-strong" aria-current="page">
                    ${pathNames[path] || "Unknown Page"}
                </li>
            `;
        }

        // TODO: pass this as parameter 
        const paths = [
            "/",
            "/cryptography",
            "/modules",
            "/troubleshooting",
            "/connectivity",
            "/certificate-authority",
            "/settings"
        ];

        paths.forEach((p, index) => {
            if (p == path) {
                sidebarLinks[index + 1].classList.add("bg-primary/10", "dark:bg-primary-dark/10", "text-on-surface-strong", "dark:text-on-surface-dark-strong");
                sidebarLinks[index + 1].classList.remove("hover:bg-primary/5", "hover:text-on-surface-strong");
            }
        })

        /*if (path == "/") {
            sidebarLinks[1].classList.add("bg-primary/10", "dark:bg-primary-dark/10", "text-on-surface-strong", "dark:text-on-surface-dark-strong");
            sidebarLinks[1].classList.remove("hover:bg-primary/5", "hover:text-on-surface-strong");
        }

        if (path == "/cryptography") {
            sidebarLinks[2].classList.add("bg-primary/10", "dark:bg-primary-dark/10", "text-on-surface-strong", "dark:text-on-surface-dark-strong");
            sidebarLinks[2].classList.remove("hover:bg-primary/5", "hover:text-on-surface-strong");
        }

        if (path == "/settings") {
            sidebarLinks[7].classList.add("bg-primary/10", "dark:bg-primary-dark/10", "text-on-surface-strong", "dark:text-on-surface-dark-strong");
            sidebarLinks[7].classList.remove("hover:bg-primary/5", "hover:text-on-surface-strong");
        }*/

        // Set active sidebar link
        //sidebarLinks.forEach(link => {



        //    if (link.href.includes(path)) {
        //        link.classList.add("bg-primary/10", "dark:bg-primary-dark/10", "text-on-surface-strong", "dark:text-on-surface-dark-strong");
        //        link.classList.remove("hover:bg-primary/5", "hover:text-on-surface-strong");
        //    } else {
        //        link.classList.remove("bg-primary/10", "dark:bg-primary-dark/10", "text-on-surface-strong", "dark:text-on-surface-dark-strong");
        //    }
        //});
    });
</script>

</body>

</html>
{{ end }}